OLLAMA_HOST=                                    #optional default: ollama (for docker internal network)
OLLAMA_PORT=                                    #optional default: 11434
TURN_LIMIT=                                     #optional default: 10
CHARACTERS_FILE=                                #optional default: characters.json
HISTORY_DB_DIR=                                 #optional default: ./history
CHROMA_DB_DIR=                                  #optional default: ./5e_dnd_chroma_langchain_db
TOTAL_MAX_POINTS_AT_START=                      #optional default: 27